* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  color: #333;
}

.navigation {
  background-color: #2c3e50;
  padding: 20px;
  margin: 0;
  border: none;
  border-radius: 0;
}

.navigation .navbar-header>a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.navigation .navbar-header>a:hover {
  color: #1abc9c;
}

.navigation .navbar-collapse .nav li>a {
  text-decoration: none;
  color: #fff;
}

.navigation .navbar-collapse .nav li>a:hover {
  color: #1abc9c;
}

.green-content {
  padding: 50px;
  background-color: #1abc9c;
  color: #fff;
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

.ms_star {
  min-width: 100%;
  margin: 30px auto;
}

.ms_star:before,
.ms_star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius: 2px;
  line-height: 4px;
  background-color: #fff;
}

.ms_star i.fa-star {
  display: inline-block;
  width: 8%;
  font-size: 30px;
  line-height: 4px;
  vertical-align: middle;
}

.green-content img {
  width: auto;
  max-height: 150px;
  margin: 30px 0 10px;
  border-radius: 50%;
}

.green-content span {
  font-size: 18px;
  font-weight: 500;
}

.ms_star.ms_star-blue:before,
.ms_star.ms_star-blue:after {
  background-color: #2c3e50;
}

.ms_star.ms_star-blue i.fa-star {
  color: #2c3e50;
}

.download {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  margin: 10px;
}

.download .fa-download {
  padding-right: 5px;
}

.green-content p {
  font-size: 14px;
}

#portfolio .row img {
  min-height: 250px;
  width: auto;
  margin: 20px;
  border-radius: 15%;
  padding: 20px;
}

#portfolio .card {
  position: relative;
}

#portfolio .card .transparent {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 100%;
  background-color: rgba(26, 188, 156, 0.9);
  margin: 20px;
  border-radius: 15%;
  padding: 20px;
  display: none;
}

#portfolio .card .plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  color: #fff;
  display: none;
}

#portfolio .card:hover .plus,
#portfolio .card:hover .transparent {
  display: block;
}

#contact .form-group input,
#contact .form-group textarea {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #333;
}

#contact .form-group label {
    text-transform: capitalize;
}

.s-button {
  padding: 5px 10px;
  font-size: 20px;
  background-color: #1abc9c;
  color: #fff;
}

.s-button:hover {
  color: #fff;
  background-color: #095445;
  border: 1px solid #1abc9c;
}

.f-info {
  background-color: #3a546d;
  color: #fff;
  padding: 40px;
  font-size: 15px;
}

.f-info p {
  text-transform: capitalize;
}

.f-info h4 {
  padding-top: 10px;
}

.f-info p a {
  text-decoration: none;
  color: #1abc9c;
}

.f-info .icon {
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 40%;
  padding: 5px 10px;
  margin-left: 10px;
}

.f-copy {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
}

.f-copy span {
  text-transform: capitalize;
}
